Exercise 2:

Tools for Data science Peer Graded Assignment

Exercise 3:

Introduction to Data Science Tools

Exercise 4:

List of Data Science Languages:
    
    1. Python
    2. R
    3. SQL
    4. Java
    5.Scala
    6. Julia
    7. JavaScript
    8. C++
    9. Sas
    10.Ruby

Exercise 5:

List of Data Science Libraries:

    1. Sklearn
    2. tensorFlow
    3. Keras
    4. PyTorch
    5. Pandas
    6. Numpy
    7. Matplotlib
    8. Seabon
    9. Scipy

In [53]:
from tabulate import tabulate 
data = [
        ['Python','R'],
        ['Sklearn', 'tidyverse'],
         ['tensorFlow', 'Dplyr'],
       ['Keras', 'Ggplot']
        ]
                    
tool_table = tabulate(data, headers='firstrow', tablefmt="grid")
print(tool_table)

+------------+-----------+
| Python     | R         |
+============+===========+
| Sklearn    | tidyverse |
+------------+-----------+
| tensorFlow | Dplyr     |
+------------+-----------+
| Keras      | Ggplot    |
+------------+-----------+

Exercise 7:

Introducing Arithmetic Expression Examples:

a = 2 + 3  - Addition

b = 5 - 1  - Subtraction

c = 5 * 2  - Multiplication

d = 10/2   - Division

e = 9//2   - Modulus

f = 2**3   - Power

In [10]:
# Exercise 8
# Multiplication and Addition of numbers:
a = 2
b = 3
x = a + b
y = x*2
print("x= ",x)
print("y= ", y)

x=  5
y=  10

In [11]:
# Exercise 9
# Minutes to Hours convertion
def m2h_converter(m):
    # m2h means minutes to hours.
    converter = m/60
    return converter
minutes = int(input("Enter the value of minutes you want to convert: "))

m2h_converter(minutes)

Enter the value of minutes you want to convert: 2023

33.71666666666667

Exercise 10:

list of objectives:

    - understanding jupiter as an important tools for data science
    
    - jupiter notebook on anaconda
    
    - navigating through the jupiter notebook menue 
    
    - creating different types of cell on jupiter notebook

Exercise 11:

Author's name : Fasansi Sodiq Ajagun